certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.0
idna==3.7
pycparser==2.22
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.2
pyfiglet==0.8.post1
Flask==3.0.0
Jinja2==3.1.2
Werkzeug>=3.0.0
gunicorn==21.2.0
Flask-WTF==1.1.1
setuptools
fpdf
Pillow
reportlab==3.6.12